/*
* @Author: 12079
* @Date:   2018-02-18 20:22:12
* @Last Modified by:   12079
* @Last Modified time: 2018-02-24 22:21:53
*/
*{
	padding: 0;
	margin: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
.box{
	width: 100%;
	height: 13.34rem;
	/* background-color: red; */
	float: left;	
}
.box1{
	width: 100%;
	height: 13.34rem;
	background-image: url('../img/d1.png');
	background-size: cover;
	float: left;
}
 .box2{
	width: 0.34rem;
	height: 0.24rem;
	background-image: url('../img/images/ab1_03.png');
	background-position: center;
	background-size: cover;
	margin-left: -7rem;
	margin-top: 0.26rem;
	float: left;
}	
.box3{
	font-size: 0.34rem;
	font-family: 苹方;
	/* color:red; */
	color: #fff;
	line-height: 0.8rem;
	margin-left: -4rem;
	float: left;
}
.box1 .box4 input{
	width: 6rem;
	height: 0.7rem;
	background-color: #ffffff;
	float: left;
	margin-left: 0.8rem;
	margin-top: 3.6rem;
	padding-left: 0.8rem;
	padding-top: 0.1rem;
	border-radius: 0.1rem;
	box-sizing: border-box;
	font-size: 0.22rem;
	color: #676767;
}
.box4 .s1{
	width: 0.2rem;
	height: 0.2rem;
	background-image: url('../img/c6.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	top: 3.88rem;
	left: 1.2rem;
}
.box1 .box5 input{
	width: 6rem;
	height: 0.7rem;
	background-color: #ffffff;
	float: left;
	margin-left: 0.8rem;
	margin-top: 0.4rem;
	padding-left: 0.36rem;
	padding-top: 0.1rem;
	border-radius: 0.1rem;
	box-sizing: border-box;
	font-size: 0.22rem;
	color: #676767;
}
.box1 .box5 .s2{
	width: 1.58rem;
	height: 0.62rem;
	background-color: #4cc6e9;
	border-radius: 0.1rem;
	position: absolute;
	top: 4.75rem;
	left: 5.16rem;
}
.box1 .box5 .s2 .ss{
	font-size: 0.2rem;
	text-align: center;
	line-height: 0.62rem;
	color: white;
}
.box1 .box6 input{
	width: 6rem;
	height: 0.7rem;
	background-color: #ffffff;
	float: left;
	margin-left: 0.8rem;
	margin-top: 0.4rem;
	padding-left: 0.8rem;
	padding-top: 0.1rem;
	border-radius: 0.1rem;
	box-sizing: border-box;
	font-size: 0.22rem;
	color: #676767;
}
.box1 .box6 .s3{
	width: 0.2rem;
	height: 0.2rem;
	background-image: url('../img/c7.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	top: 6.08rem;
	left: 1.2rem;
}
.box1 .box7 input{
	width: 6rem;
	height: 0.7rem;
	background-color: #ffffff;
	float: left;
	margin-left: 0.8rem;
	margin-top: 0.4rem;
	padding-left: 0.8rem;
	padding-top: 0.14rem;
	border-radius: 0.1rem;
	box-sizing: border-box;
	font-size: 0.22rem;
	color: #676767;
}
.box1 .box7 .s4{
	width: 0.2rem;
	height: 0.2rem;
	background-image: url('../img/c7.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	top: 7.2rem;
	left: 1.2rem;
}
.box8{
	width: 0.2rem;
	height: 0.2rem;
	border-radius: 50%;
	border: 0.03rem solid white;
	position: absolute;
	top: 7.7rem;
	left: 0.84rem;
}
.box9{
	width: 0.06rem;
	height: 0.06rem;
	border-radius: 50%;
	background-color: #4cc6e9;
	margin: 0 auto;
	margin-top: 0.06rem;
}
.box11{
	font-size: 0.2rem;
	margin-left: 0.2rem;
	margin-top: 0.24rem;
	color: #d0d0d0;
	margin-top: 0.1rem;
	margin-left: 1.2rem;
	float: left;
}
.box12{
	font-size: 0.2rem;
	margin-left: 0.2rem;
	margin-top: 0.24rem;
	color: #4cc6e9;
	margin-top: 0.1rem;
	margin-left: 0.0rem;
	float: left;
}
.box13{
	font-size: 0.2rem;
	margin-left: 0.2rem;
	margin-top: 0.24rem;
	color: #d0d0d0;
	margin-top: 0.1rem;
	margin-left:0.01rem;
	float: left;
}
.box14{
	font-size: 0.2rem;
	margin-left: 0.2rem;
	margin-top: 0.24rem;
	color: #4cc6e9;
	margin-top:0.1rem;
	margin-left:0.01rem;
	float: left;
}
.box10{
	width:6rem;
	height: 0.74rem;
	background-color:#4cc6e9;
	margin: 0 auto;
	border-radius: 0.1rem;
	margin-top:9rem;
	margin-left: 0.8rem;
	border: 0.03rem solid white;
}
.box10 .box15{
	font-size: 0.24rem;
	color: white;
	text-align: center;
	line-height: 0.74rem;
}

